make_blueprint.json
{
    "name": "Codyssey B2-2",
    "flow": [
        {
            "id": 2,
            "module": "rss:TriggerNewArticle",
            "version": 4,
            "parameters": {
                "url": "https://news.hada.io/rss/news",
                "gzip": true,
                "include": [],
                "password": "",
                "username": "",
                "maxResults": 5
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300,
                    "name": "RSS 뉴스 가져오기"
                },
                "restore": {
                    "parameters": {
                        "url": {
                            "collapsed": true
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 37,
            "module": "notion:searchObjects1",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8571821
            },
            "filter": {
                "name": "주제 확인",
                "conditions": [
                    [
                        {
                            "a": "{{2.title}}",
                            "b": "인공지능",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.title}}",
                            "b": "AI",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.title}}",
                            "b": "LLM",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.title}}",
                            "b": "생성형 AI",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.title}}",
                            "b": "오픈소스",
                            "o": "text:contain:ci"
                        }
                    ],
                    [
                        {
                            "a": "{{2.title}}",
                            "b": "GPT",
                            "o": "text:contain:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "limit": "10",
                "filter": [
                    [
                        {
                            "a": "id |&*^%$#@| rich_text",
                            "b": "{{2.id}}",
                            "o": "text:equals"
                        }
                    ]
                ],
                "select": "item",
                "database": "38ca042c32f6803fafa1c9d5f9914b55"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300,
                    "name": "중복 검색"
                },
                "restore": {
                    "expect": {
                        "sorts": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Database Items (Legacy)This can be used only if your database has a single data source."
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "Codyssey (codessey_b2_2 팀프로젝트)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Objects",
                        "required": true,
                        "validate": {
                            "enum": [
                                "data_source_item",
                                "data_source",
                                "page",
                                "item",
                                "database"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": [
                                {
                                    "label": "summary (Rich text)",
                                    "value": "summary |&*^%$#@| rich_text"
                                },
                                {
                                    "label": "sentiment (Select)",
                                    "value": "sentiment |&*^%$#@| select"
                                },
                                {
                                    "label": "date (Date)",
                                    "value": "date |&*^%$#@| date"
                                },
                                {
                                    "label": "img (Files)",
                                    "value": "img |&*^%$#@| files"
                                },
                                {
                                    "label": "url (Url)",
                                    "value": "url |&*^%$#@| url"
                                },
                                {
                                    "label": "id (Rich text)",
                                    "value": "id |&*^%$#@| rich_text"
                                },
                                {
                                    "label": "title (Title)",
                                    "value": "title |&*^%$#@| title"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:does_not_equal"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "text:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "text:does_not_contain"
                                        },
                                        {
                                            "label": "Starts with",
                                            "value": "text:starts_with"
                                        },
                                        {
                                            "label": "Ends with",
                                            "value": "text:ends_with"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "text:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "text:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:does_not_equal"
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:greater_than"
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:less_than"
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "number:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "number:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:equals"
                                        },
                                        {
                                            "label": "Before",
                                            "value": "date:before"
                                        },
                                        {
                                            "label": "After",
                                            "value": "date:after"
                                        },
                                        {
                                            "label": "On or before",
                                            "value": "date:on_or_before"
                                        },
                                        {
                                            "label": "On or after",
                                            "value": "date:on_or_after"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "date:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "date:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Checkbox",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "checkbox:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "checkbox:does_not_equal"
                                        }
                                    ]
                                },
                                {
                                    "label": "File",
                                    "options": [
                                        {
                                            "label": "Is empty",
                                            "value": "file:is_empty"
                                        },
                                        {
                                            "label": "Is not empty",
                                            "value": "file:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Select",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "select:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "select:does_not_equal"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "select:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "select:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Multi-select",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "multiselect:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "multiselect:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "multiselect:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "multiselect:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "People",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "people:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "people:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "people:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "people:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Relation",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "relation:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "relation:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "relation:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "relation:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Formula",
                                    "options": [
                                        {
                                            "label": "String - Equals",
                                            "value": "formula:text-equals"
                                        },
                                        {
                                            "label": "String - Does not equal",
                                            "value": "formula:text-does_not_equal"
                                        },
                                        {
                                            "label": "String - Contains",
                                            "value": "formula:text-contains"
                                        },
                                        {
                                            "label": "String - Does not contain",
                                            "value": "formula:text-does_not_contain"
                                        },
                                        {
                                            "label": "String - Starts with",
                                            "value": "formula:text-starts_with"
                                        },
                                        {
                                            "label": "String - Ends with",
                                            "value": "formula:text-ends_with"
                                        },
                                        {
                                            "label": "String - Is empty (Boolean)",
                                            "value": "formula:text-is_empty"
                                        },
                                        {
                                            "label": "Text - Is not empty (boolean)",
                                            "value": "formula:text-is_not_empty"
                                        },
                                        {
                                            "label": "Checkbox - Equals",
                                            "value": "formula:checkbox-equals"
                                        },
                                        {
                                            "label": "Checkbox - Does not equal",
                                            "value": "formula:checkbox-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Equals",
                                            "value": "formula:number-equals"
                                        },
                                        {
                                            "label": "Number - Does not equal",
                                            "value": "formula:number-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Greater than",
                                            "value": "formula:number-greater_than"
                                        },
                                        {
                                            "label": "Number - Less than",
                                            "value": "formula:number-less_than"
                                        },
                                        {
                                            "label": "Number - Greater than or equal to",
                                            "value": "formula:number-greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Less than or equal to",
                                            "value": "formula:number-less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Is empty (Boolean)",
                                            "value": "formula:number-is_empty"
                                        },
                                        {
                                            "label": "Number - Is not empty (boolean)",
                                            "value": "formula:number-is_not_empty"
                                        },
                                        {
                                            "label": "Date - Equals",
                                            "value": "formula:date-equals"
                                        },
                                        {
                                            "label": "Date - before",
                                            "value": "formula:date-before"
                                        },
                                        {
                                            "label": "Date - after",
                                            "value": "formula:date-after"
                                        },
                                        {
                                            "label": "Date - On or before",
                                            "value": "formula:date-on_or_before"
                                        },
                                        {
                                            "label": "Date - On or after",
                                            "value": "formula:date-on_or_after"
                                        },
                                        {
                                            "label": "Date - Is empty (Boolean)",
                                            "value": "formula:date-is_empty"
                                        },
                                        {
                                            "label": "Date - Is not empty (boolean)",
                                            "value": "formula:date-is_not_empty"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "sorts",
                        "spec": [
                            {
                                "name": "select",
                                "type": "select",
                                "label": "Select a Field to Sort",
                                "options": [
                                    {
                                        "label": "Property Field",
                                        "value": "property",
                                        "nested": [
                                            {
                                                "name": "property",
                                                "type": "select",
                                                "label": "Property Field",
                                                "options": "rpc://notion/1/listDatabasePropertiesFieldsForFilter?sortParameter=true",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Timestamp",
                                        "value": "timestamp",
                                        "nested": [
                                            {
                                                "name": "timestamp",
                                                "type": "select",
                                                "label": "Timestamp",
                                                "options": [
                                                    {
                                                        "label": "Created time",
                                                        "value": "created_time",
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Last edited time",
                                                        "value": "last_edited_time"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "default": true
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": "ascending"
                                    },
                                    {
                                        "label": "Descending",
                                        "value": "descending"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sorts"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Page ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            },
                            {
                                "name": "data_source_id",
                                "type": "text",
                                "label": "Data Source ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "public_url",
                        "type": "text",
                        "label": "Public URL"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "in_trash",
                        "type": "boolean",
                        "label": "In Trash"
                    },
                    {
                        "name": "properties_value",
                        "spec": [
                            {
                                "name": "summary",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "summary"
                            },
                            {
                                "name": "sentiment",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                    }
                                ],
                                "type": "collection",
                                "label": "sentiment"
                            },
                            {
                                "name": "date",
                                "spec": [
                                    {
                                        "name": "start",
                                        "type": "date",
                                        "label": "Start"
                                    },
                                    {
                                        "name": "end",
                                        "type": "date",
                                        "label": "End"
                                    },
                                    {
                                        "name": "time_zone",
                                        "type": "text",
                                        "label": "Time Zone"
                                    }
                                ],
                                "type": "collection",
                                "label": "date"
                            },
                            {
                                "name": "img",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "file",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "expiry_time",
                                                "type": "date",
                                                "label": "Expiry Time"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "File"
                                    },
                                    {
                                        "name": "external",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "External"
                                    }
                                ],
                                "type": "array",
                                "label": "img"
                            },
                            {
                                "name": "url",
                                "type": "text",
                                "label": "url"
                            },
                            {
                                "name": "id",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "id"
                            },
                            {
                                "name": "title",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "title"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 43,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "2",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 600
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Retry automatically",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of retries",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Minutes between retries",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 9,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8565856
            },
            "filter": {
                "name": "중복 방지",
                "conditions": [
                    [
                        {
                            "a": "{{37.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "model": "gemini-3.1-flash-lite",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "다음 기사 내용을 분석해서 답변해 줘.\n단, 마크다운 기호(```json 등)나 다른 인사말은 절대 쓰지 말고, 반드시 아래의 순수 JSON 형식으로만 출력해야 해.\n\n{\n  \"summary\": \"여기에 핵심 내용 딱 3줄 요약 (각 줄은 - 로 시작하고 줄바꿈 적용)\",\n  \"sentiment\": \"긍정, 부정, 중립 중 택 1\",\n  \"image_prompt\": \"이 기사를 대표할 수 있는 썸네일 이미지를 AI로 그리기 위한 영문 프롬프트 1문장\"\n}\n\n기사 내용:{{2.description}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "thinkingConfig": {}
                },
                "system_instruction": {}
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "뉴스 기사 요약"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 3.1 Flash LiteDiscontinuation date: May 7, 2027"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "serviceTier": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    },
                    {
                        "name": "serviceTier",
                        "type": "select",
                        "label": "Inference Service Tier"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 41,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "2",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 300
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Retry automatically",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of retries",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Minutes between retries",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 35,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {},
            "mapper": {
                "json": "{{9.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 36,
            "module": "notion:createAPage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 8571821
            },
            "mapper": {
                "fields": {
                    "GsXh": "{{35.summary}}",
                    "TSba": {
                        "start": "{{2.dateCreated}}",
                        "includeTime": false
                    },
                    "title": "{{2.title}}",
                    "TtX%3C": [
                        {
                            "url": "https://image.pollinations.ai/prompt/{{encodeURL(35.image_prompt)}}",
                            "name": "img_{{2.url}}"
                        }
                    ],
                    "W%3CFt": "{{2.url}}",
                    "x%5BJo": "{{2.id}}",
                    "Jn%3C%3C": "{{35.sentiment}}"
                },
                "select": "list",
                "database": "38ca042c32f6803fafa1c9d5f9914b55"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "fields": {
                            "nested": {
                                "TSba": {
                                    "nested": {
                                        "includeTime": {
                                            "mode": "chose",
                                            "label": "No"
                                        }
                                    }
                                },
                                "TtX%3C": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "Jn%3C%3C": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "select": {
                            "label": "Select from the list"
                        },
                        "database": {
                            "nested": [
                                {
                                    "name": "fields",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "title",
                                            "metadata": {
                                                "type": "title"
                                            },
                                            "required": true
                                        },
                                        {
                                            "name": "GsXh",
                                            "type": "text",
                                            "label": "summary",
                                            "metadata": {
                                                "type": "rich_text"
                                            }
                                        },
                                        {
                                            "name": "Jn%3C%3C",
                                            "type": "select",
                                            "label": "sentiment",
                                            "options": [
                                                {
                                                    "label": "중립",
                                                    "value": "중립"
                                                },
                                                {
                                                    "label": "부정",
                                                    "value": "부정"
                                                },
                                                {
                                                    "label": "긍정",
                                                    "value": "긍정"
                                                }
                                            ],
                                            "metadata": {
                                                "type": "select"
                                            },
                                            "validate": false
                                        },
                                        {
                                            "name": "TSba",
                                            "spec": [
                                                {
                                                    "name": "start",
                                                    "type": "date",
                                                    "label": "Start Time"
                                                },
                                                {
                                                    "help": "Optional. Use only when entering a date range.",
                                                    "name": "end",
                                                    "type": "date",
                                                    "label": "End Time"
                                                },
                                                {
                                                    "name": "includeTime",
                                                    "type": "select",
                                                    "label": "Include Time",
                                                    "options": [
                                                        {
                                                            "label": "Yes",
                                                            "value": true
                                                        },
                                                        {
                                                            "label": "No",
                                                            "value": false,
                                                            "default": true
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "date"
                                        },
                                        {
                                            "name": "TtX%3C",
                                            "spec": [
                                                {
                                                    "name": "url",
                                                    "type": "url",
                                                    "label": "Image URL",
                                                    "required": true
                                                },
                                                {
                                                    "help": "If empty, the file name will have **Integromat** .",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "File Name"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "img",
                                            "metadata": {
                                                "type": "files"
                                            }
                                        },
                                        {
                                            "name": "W%3CFt",
                                            "type": "url",
                                            "label": "url",
                                            "metadata": {
                                                "type": "url"
                                            }
                                        },
                                        {
                                            "name": "x%5BJo",
                                            "type": "text",
                                            "label": "id",
                                            "metadata": {
                                                "type": "rich_text"
                                            }
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Fields"
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "Codyssey (codessey_b2_2 팀프로젝트)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Database ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "metadata": {
                                    "type": "title"
                                },
                                "required": true
                            },
                            {
                                "name": "GsXh",
                                "type": "text",
                                "label": "summary",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            },
                            {
                                "name": "Jn%3C%3C",
                                "type": "select",
                                "label": "sentiment",
                                "metadata": {
                                    "type": "select"
                                }
                            },
                            {
                                "name": "TSba",
                                "spec": [
                                    {
                                        "name": "start",
                                        "type": "date",
                                        "label": "Start Time"
                                    },
                                    {
                                        "name": "end",
                                        "type": "date",
                                        "label": "End Time"
                                    },
                                    {
                                        "name": "includeTime",
                                        "type": "select",
                                        "label": "Include Time",
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "date"
                            },
                            {
                                "name": "TtX%3C",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "Image URL",
                                        "required": true
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "File Name"
                                    }
                                ],
                                "type": "array",
                                "label": "img",
                                "metadata": {
                                    "type": "files"
                                }
                            },
                            {
                                "name": "W%3CFt",
                                "type": "url",
                                "label": "url",
                                "metadata": {
                                    "type": "url"
                                }
                            },
                            {
                                "name": "x%5BJo",
                                "type": "text",
                                "label": "id",
                                "metadata": {
                                    "type": "rich_text"
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "properties_value",
                        "spec": [
                            {
                                "name": "summary",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "summary"
                            },
                            {
                                "name": "sentiment",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "color",
                                        "type": "text",
                                        "label": "Color"
                                    }
                                ],
                                "type": "collection",
                                "label": "sentiment"
                            },
                            {
                                "name": "date",
                                "spec": [
                                    {
                                        "name": "start",
                                        "type": "date",
                                        "label": "Start"
                                    },
                                    {
                                        "name": "end",
                                        "type": "date",
                                        "label": "End"
                                    },
                                    {
                                        "name": "time_zone",
                                        "type": "text",
                                        "label": "Time Zone"
                                    }
                                ],
                                "type": "collection",
                                "label": "date"
                            },
                            {
                                "name": "img",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "file",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "expiry_time",
                                                "type": "date",
                                                "label": "Expiry Time"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "File"
                                    },
                                    {
                                        "name": "external",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "External"
                                    }
                                ],
                                "type": "array",
                                "label": "img"
                            },
                            {
                                "name": "url",
                                "type": "text",
                                "label": "url"
                            },
                            {
                                "name": "id",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "id"
                            },
                            {
                                "name": "title",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "spec": [
                                            {
                                                "name": "content",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "link",
                                                "type": "text",
                                                "label": "Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "plain_text",
                                        "type": "text",
                                        "label": "Plain Text"
                                    },
                                    {
                                        "name": "href",
                                        "type": "text",
                                        "label": "Href"
                                    }
                                ],
                                "type": "array",
                                "label": "title"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 42,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "2",
                        "retry": true,
                        "interval": "15"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1500,
                            "y": 0
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Retry automatically",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of retries",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Minutes between retries",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}